body{
    font-family: Arial, Helvetica, sans-serif
}

.trece{
    width: 300px;
}

.toro{
    width: 300px;
    height: 168px;
}

p{
    background-color: red;
    width: 300px;
    display: flex;
    padding: 40px;
    border: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    box-sizing: border-box;
    overflow: auto;
}

div{
    padding-left: 400px;
    background-color: re;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}