* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

.colorAcento {
  color: red;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid red;
  box-shadow: 2px 2px 10px black;
  color: white;
  background-color: black;
}

button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 2px solid red;
  box-shadow: 2px 2px 10px black;
  color: white;
  background-color: black;
}

button:hover {
  background-color: rgb(46, 44, 44);
}

#historia .texto {
  display: flex;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: #000;
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.6em;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header a:hover {
  color: red;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/monumental.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: red;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#hero2 .container {
  text-align: center;
  padding: 200px 12px;
}

#jugadores-importantes {
  background-color: black;
  color: white;
  text-align: center;
}

#jugadores-importantes .container {
  padding: 100px 0px;
}

#jugadores-importantes h2 {
  margin-top: 0;
  font-size: 2.7em;
}

#jugadores-importantes p {
  display: none;
}

#jugadores-importantes .carta {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/labruna2.jpg);
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/enzo.jpg);
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/beto.jpg);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .contain {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

iframe {
  padding-top: 40px;
}

@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1800px;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 1200px;
  }
  #hero h1 {
    font-size: 5em;
  }
  #hero2 .container {
    display: flex;
    justify-content: center;
  }
  #hero2 .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #hero2 h2 {
    margin-top: 0px;
  }
  #hero2 .img-container {
    background-image: url(/img/escudo.jpg);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  #hero3 .img-container {
    background-image: url(/img/escudo2.png);
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  #hero3 p {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: black;
    width: 1400px;
    height: 400px;
    margin: 50px auto;
    padding: 40px;
    border: 5px solid red;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    box-sizing: border-box;
    overflow: auto;
  }
  #hero2 p {
    width: 600px;
    height: 200px;
    margin: 50px auto;
    padding: 40px;
    border: 5px solid red;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    box-sizing: border-box;
    overflow: auto;
  }
  #jugadores-importantes .jugadores {
    display: flex;
    justify-content: center;
  }
  #jugadores-importantes p {
    display: block;
    margin-bottom: 30px;
  }
  #jugadores-importantes button {
    margin-top: 0;
  }
  #jugadores-importantes .carta {
    padding-top: 180px;
    padding-bottom: 50px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgb(46, 44, 44);
  }
  .carta:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/labruna2.jpg);
  }
  .carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/enzo.jpg);
  }
  .carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/beto.jpg);
  }
}/*# sourceMappingURL=main.css.map */